/* .film-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
} */

/* Hide scrollbar for Chrome, Safari and Opera */
.MuiDialogContent-root::-webkit-scrollbar {
  display: none;
}

.MuiDialogContent-root {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.film-title {
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.7), rgba(0, 0, 0));
  position: absolute;
  display: flex;

  width: 100%;
  height: 20%;
  bottom: 0;
  z-index: 100;
}

.iframe-container .film-trailer {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.film-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  padding-left: 1rem;
}

.play-btn {
  position: absolute;
  bottom: 10%;
  left: 65%;
  aspect-ratio: 1/1;
}
